<div id="coupon-dialog">
  <div class="modal-header">
      <h3 class="modal-title">Confirmation</h3>
  </div>
  <div class="modal-body">
     {{moduleName}} Register Successfully!!
  </div>
  <div class="modal-footer">
      <div class="col-sm-2  col-sm-offset-3">
      <!-- button class="btn btn-primary" type="button" ng-click="ok()">OK</button -->
      <md-button type="submit" class="md-primary md-raised btn-block dialog-btn" ng-click="ok()">
        ok
      </md-button>
    </div>
  </div>
</div>
