<div id="master-form" >
  <div class="col-md-10 col-sm-10 col-xs-15">
    <div class="form_panel" ng-init="collapseForm=false">
      <div class="form_title">
        <h3>{{vm.moduleName}}</h3>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a ng-click="collapseForm=!collapseForm">
              <i ng-class="collapseForm ? 'fa fa-chevron-down' : 'fa fa-chevron-up' "></i>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div ng-if="!vm.listView">
      <form class="form-horizontal currency-form" name='vm.formName' data-ng-submit="vm.addValue()" novalidate>
          <ng-include src="vm.url"></ng-include>
      </form>
      </div>
      <div ng-if="vm.listView" class="form_content" ng-class="collapseForm ? 'collapseSection' : '' ">
        <ng-include src="vm.url"></ng-include>
      </div>
    </div>
  </div>
</div>
</div>
